{% load static %}

<div class="col-12">
    <div class="card" id="footer">
        <div class="card-body">
            <h5 class="card-title text-center footer-card-title">
                <a href="">@2019 Rally, Inc.</a>
                <a href=""><span class="fe fe-facebook footer-fe"></span></a>
                <a href=""><span class="fe fe-instagram footer-fe"></span></a>
                <a href=""><span class="fe fe-twitter footer-fe"></span></a>
            </h5>
        </div>
    </div>
</div>