{% load static %}

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infomodal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="infomodal" tabindex="999" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                
            
                    <div class="row justify-content-center">
                        <div class="col-12">

                            <div class="text-center">

                                

                                <!-- Preheading -->
                                <h6 class="text-uppercase text-muted mb-4">
                                    404 error
                                </h6>

                                <!-- Heading -->
                                <h1 class="display-6 mb-3">
                                    There’s no page here 😭
                                </h1>

                                <!-- Subheading -->
                                <p class="text-muted mb-4">
                                    This part is still under construction!
                                </p>

                                <!-- Button -->
                                <button class="btn btn-pink btn-about-us text-white" data-dismiss="modal">
                                    Close this error
                                </button>

                            </div>

                        </div>
                    </div> <!-- / .row -->
                


            </div>
            
        </div>
    </div>
</div>









<div class="modal fade" id="infomodal" tabindex="999" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>